@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --body: lightgrey;
    --toggle: #252525;
    --scale: scale(0);
}
.mode {
    --body: #252525;
    --toggle: lightgray;
    --scale: scale(1);
}
body {
    background: var(--body);
    transition: 1000ms;
}
#game {
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
h1, h2, h3 {    
    color: var(--toggle);
    font-family: 'Delius';
    transition: 1000ms;
}
h1, h3 {
    font-size: 3em;
}
h1 {
    margin: .5em;
    padding: .3em .7em;
    border: var(--toggle) solid .13em;
    cursor: pointer;
}
h2 {
    margin: 0 2em;
    font-size: 2em;
}
@media (max-height: 750px) {
    #game {
        display: block;
    }
    h1 {
        display: inline-block;
    }

}
.flexDiv {
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    margin-top: 1em;
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 50%;
}
@media (max-width: 600px){
    #game {
        display: block;
    }
    img {
        margin-left: .5em;
        margin-right: .5em;
    }
    h1, h3 {
      font-size: 2.5em;
    }
    h2 {
        margin: 0 .5em;
    }
}
.attack {
    box-shadow: inset 0 0 5em #dd2c2c;
}
.defend {
    box-shadow: inset 0 0 5em #285ed4;
}
.talk {
    box-shadow: inset 0 0 5em #a14fec;
}
/* dark mode toggle */
.toggle {
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    width: 1.5em;
    height: 1.5em;
    background: var(--toggle);
    border-radius: 50%;
    cursor: pointer;
    transition: 1000ms;
}
/* pressed button and shine effect */
.pressed {
    border: none;
    width: 4.5em;
    margin: .5em;
    font-size: 3em;
    padding: .3em .7em;
    border-radius: .3em;
    font-family: "Bebas Neue";
    color: var(--buttonColor);
    background: var(--buttonBackground);
    box-shadow: 0 .24em var(--buttonColor);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.pressed::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    width: 150%;
    height: 100%;
    opacity: .15;
    background: white;
    transform: rotate(50deg);
    transition: 1500ms;
}
.pressed:hover::before {
    left: 100%;
}
.pressed:active {
    box-shadow: 0 .12em var(--buttonColor);
    transform: translate(0, .12em);
}
/* colors for button id */
#start {
    width: auto;
    --buttonColor: #208b3b;
    --buttonBackground: #2ab925;
}
#start:hover {
    --buttonColor: #1b7933;
}
#rock, #paper, #scissors {
    --buttonColor: #5c5c5c;
    --buttonBackground: #7D7D7D;
}
#rock:hover, #paper:hover, #scissors:hover {
    --buttonColor: #4f4f4f;
}
#attack {
    --buttonColor: #b30000;
    --buttonBackground: #dd2c2c;
}
#attack:hover {
    --buttonColor: #990000;
}
#defend {
    --buttonColor: #003ab6;
    --buttonBackground: #285ed4;
}
#defend:hover {
    --buttonColor: #00329e;
}
#talk {
    --buttonColor: #7433c9;
    --buttonBackground: #a14fec;
}
#talk:hover {
    --buttonColor: #672db4;
}
#playAgain {
    width: auto;
    --buttonColor: #c4c417;
    --buttonBackground: #e4e452;
}
#playAgain:hover {
    --buttonColor: #adad14;
}
