@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --toggle: #252525;
    --scale: scale(0);
}
.mode {
    --toggle: lightgray;
    --scale: scale(1);
}
body {
    background: lightgray;
    overflow: hidden;
}
#game {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
h1 {
    font-family: 'Delius';
    color: var(--toggle);
    border: var(--toggle) solid .13em;
    padding: .3em .7em;
    margin: .5em;
    font-size: 3em;
    transition: 1000ms;
}

.toggle, .container {
    position: absolute;
    top: 2em;
    right: 2em;
    width: 1.5em;
    height: 1.5em;
}
.toggle {
    background: var(--toggle);
    border-radius: 50%;
    cursor: pointer;
    transition: 1000ms;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    z-index: -1;
}
.dark {
    position: relative;
    background: #1f1f1f;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 250vmax;
    height: 250vmax;
    border-radius: 50%;
    display: flex;
    flex: 0 0 auto;
    transform: var(--scale);
    transition: 1000ms;
}

.pressed {
    border: none;
    margin: .5em;
    font-size: 3em;
    padding: .3em .7em;
    border-radius: .3em;
    font-family: "Bebas Neue";
    color: var(--buttonColor);
    background: var(--buttonBackground);
    box-shadow: 0 12px var(--buttonColor);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.pressed::before {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    height: 100%;
    width: 150%;
    opacity: .15;
    background: white;
    transform: rotate(50deg);
    transition: 1000ms ease;
}
.pressed:hover::before {
    left: 100%;
}
.pressed:active {
    box-shadow: 0 6px var(--buttonColor);
    transform: translate(0, 6px);
}
#start {
    --buttonColor: #208b3b;
    --buttonBackground: #2ab925;
}
#start:hover {
    --buttonColor: #1b7933;
}
#rock, #paper, #scissors {
    width: 5em;
    --buttonColor: #5c5c5c;
    --buttonBackground: #7D7D7D;
}
#rock:hover, #paper:hover, #scissors:hover {
    --buttonColor: #4f4f4f;
}
#attack, #defend, #talk {
    width: 5em;
}
#attack {
    --buttonColor: #b30000;
    --buttonBackground: #dd2c2c;
}
#attack:hover {
    --buttonColor: #990000;
}
#defend {
    --buttonColor: #003ab6;
    --buttonBackground: #285ed4;
}
#defend:hover {
    --buttonColor: #00329e;
}
#talk {
    --buttonColor: #7433c9;
    --buttonBackground: #a14fec;
}
#talk:hover {
    --buttonColor: #672db4;
}
#playAgain {
    --buttonColor: #c4c417;
    --buttonBackground: #e4e452;
}
#playAgain:hover {
    --buttonColor: #adad14;
}

.imgDiv {
    display: flex;
}